{% extends 'admin/base_site.html' %}
{% block content %}

  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#calculate-form').submit(function(event) {
                event.preventDefault();
                var nav = parseFloat($('#nav').val());
                var ticker = $('#ticker').val();
                var price = parseFloat($('#price').val());

                if (!nav || !ticker || !price) {
                    alert('Vui lòng nhập đủ thông số đầu vào');
                    return;
                }

                var R = 0.03 * nav;
                $.ajax({
                    type: 'POST',
                    url: '',
                    data: {
                        'nav': nav,
                        'ticker': ticker,
                        'price': price,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function(data) {
                        alert('Khối lượng là: ' + data.qty);
                    },
                    error: function() {
                        alert('Đã có lỗi xảy ra.');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Tính khối lượng mua cổ phiếu theo quản trị vốn</h1> 
    <form id="calculate-form" method="POST">
        {% csrf_token %}
        <label for="nav">Vốn:</label>
        <input type="number" id="nav" name="nav"><br><br>
        <label for="ticker">Mã cổ phiếu:</label>
        <input type="text" id="ticker" name="ticker"><br><br>
        <label for="price">Giá mua:</label>
        <input type="number" id="price" name="price"><br><br>
        <button type="submit">Thực hiện</button>
    </form>
{% endblock %}