<h1>ECO_BOT</h1> <br>
<p class="reverse-text">ECO BOT là sự kết hợp giữa lý thuyết chọn điểm mua của các Nhà đầu tư lớn được kiểm chứng trên thế giới cùng phương pháp quản trị vốn, kiểm soát rủi ro chặt chẽ, đảm bảo được cơ sở chiến thắng trong dài hạn. 
    Từ các lý thuyết trên team đã ứng dụng công nghệ để kiểm định tính hiệu quả của mô hình trong suốt quá trình từ lúc cổ phiếu niêm yết đến hiện tại, tìm ra bộ thông số tối ưu của từng cổ phiếu trong từng thời điểm.
    → Các logic mua bán được định lượng, quan sát từ thực tế dựa trên big data, vận hành trong quá trình đầu tư sẽ tránh chi phối yếu tố tâm lý, chủ quan của của người đầu tư.</p>
 <br>
Dưới đây là các lý thuyết cùng với phương pháp logic mà team đã áp dụng cho Eco Bot, mời quý NĐT tìm hiểu:
<h2> 1. Quản trị vốn là gì?</h2> <br>
“Anh đúng hay anh sai, điều đó không quan trọng, cái chính là anh kiếm được bao nhiêu khi anh đúng và mất bao nhiêu khi anh sai” Đây là câu nói nổi tiếng của nhà đầu tư huyền thoại George Soros.
Quản trị vốn là việc kiểm soát rủi ro cho tài khoản, để làm sao những lần thắng sẽ kiếm được nhiều tiền hơn so với những lần thua, từ đó giúp bạn có lợi nhuận bền vững trong dài hạn.
<h3>Tầm quan trọng của quản trị vốn</h3>
Trong cuốn sách Phù thủy sàn chứng khoán của tác giả Jack D.Schwager viết bằng cách đi phỏng vấn các nhà đầu tư thành công nhất nước Mỹ. Sau đó ông kết luận rằng Quản trị vốn chiếm 30% để giao dịch thành công, chiến lược giao dịch chỉ chiếm 10% và 60% còn lại là tâm lý giao dịch. <br>
<h5>Thứ 1: Tồn tại trên thị trường</h5>
Mục đích lớn nhất của các NĐT khi tham gia thị trường chứng khoán đó làm kiếm tiền, tuy nhiên trước khi kiếm được tiền bạn cần biết cách tồn tại trước đã.  Để sống khỏe trên thị trường thì quản lý vốn là cách tiếp cận khôn ngoan. <br>
<h5>Thứ 2: Quản trị vốn giúp hồi sinh tài khoản dễ dàng hơn sau chuỗi thua lỗ</h5>
Với cách quản trị vốn hợp lý sẽ đảm bảo cho tài khoản luôn được an toàn. Và chẳng may bạn có gặp 1 chuỗi lệnh thua liên tiếp thì bạn cũng sẽ không âm vốn quá nhiều. Chỉ cần 1-2 lệnh thắng là bạn đã quay trở lại vạch xuất phát. <br>
<h5>Thứ 3: Giải tỏa tối đa căng thẳng trong giao dịch</h5>
Với một kế hoạch kiểm soát rủi ro, bạn sẽ không phải lo lắng mỗi khi rời màn hình bởi vì tất cả đã nằm trong tầm kiểm soát. Bạn sẽ không còn bận tâm về một giao dịch thua lỗ. <br>
<h5>Thứ 4: Tận dụng kỳ quan thứ 8 của thế giới “Lãi suất kép”</h5>
Với một lệnh giao dịch bạn quản trị rủi ro ở mức 3% và lợi nhuận là 6% hoặc hơn thế nữa. Điều này không những giúp bạn vượt qua những lệnh thua liên tiếp một cách dễ dàng mà còn tận dụng được vẻ đẹp của kỳ quan thứ 8 của thế giới mang lại đó là Lãi suất kép. <br>

<h3>Bí kíp tạo ra lợi nhuận đều đặn</h3>
Chúng ta luôn duy trì tỷ lệ rủi ro/ lợi nhuận là 3%:6% (1:2), với Risk/Reward 1:2 chúng ta chỉ cần một chiến lược có tỷ lệ thắng 50% thì lợi nhuận kỳ vọng mỗi lệnh giao dịch là 1,5%. <br>
Bước 1: Xác định tổng số vốn mà mình đang có (gồm tiền và giá trị cổ phiếu) <br>
Bước 2: Xác định rủi ro trên mỗi lệnh (3%) <br>
Bước 3: Xác định cổ phiếu cần mua và số lượng cần mua. <br>
Bước 3 là bước khó nhất, bạn cần tìm cổ phiếu cần mua, giá mua, giá cắt lỗ và số lượng cần mua.
Cái gì khó đã có Team lo. Khi đồng hành cùng team khách hàng sẽ nhận được tín hiệu mua bán từ hệ thống, chỉ cần nhập số vốn đang có và rủi ro trên mỗi lệnh là sẽ ra được số lượng cổ phiếu cần mua đối với cổ phiếu có tín hiệu mua. <br>
NĐT chỉ cần kỷ luật với phương pháp quản trị vốn của mình thì về dài hạn chắc chắn sẽ có lợi nhuận.
<h2>2. Hệ thống giao dịch</h2> <br>
Điểm mua dựa trên lý thuyết giao dịch theo xu hướng của cổ phiếu (Trend trading) kết hợp với phương pháp VSA (Volume Spread Analysis).
Trend trading (the trend is your friend) <br>
Việc giao dịch với một cổ phiếu đang có xu hướng tăng giá sẽ đem lại cho NĐT hiệu quả tốt nhất. Bởi xu hướng được hình thành từ ý chí của dòng tiền lớn dẫn dắt, nếu xu hướng đang là tăng thì ý chí dòng tiền lớn đang nghiêng về chiều hướng mua.
Do đó, giao dịch cùng tư duy với dòng tiền lớn hay giao dịch bám theo xu hướng chính của giá khiến cho hoạt động giao dịch trở nên dễ dàng hơn.
Đối với phương pháp giao dịch theo xu hướng sẽ có 2 chiến lược mua: một là mua khi giá điều chỉnh trong một xu hướng lớn là tăng giá và hai là mua khi giá bức phá (break-out).
Ở đây team chọn chiến lược thứ 2 đó là mua khi giá Break-out. <br>
<br> Ưu điểm của chiến lược thứ 2 chính là việc NĐT có thể mua được ngay khi xu hướng chỉ mới bắt đầu còn với chiến lược thứ nhất NĐT cần xác định được rõ xu hướng mới có thể chờ giá điều chỉnh trong xu hướng tăng đó và hơn hết nó tối ưu hơn khi kết hợp với phương pháp quản trị vốn.
Phương pháp VSA <br>
Dựa trên phương pháp Wyckoff, Tom Williams đã phát triển phương pháp VSA. Phân tích biến động khối lượng giao dịch, độ dài thân nến (chênh lệch giá mở cửa và đóng cửa) và mức giá đóng cửa. 
Theo Tom Williams, khi hiểu được bản chất của thị trường là khi bạn hiểu được mối quan hệ mật thiết giữa cung – cầu, bạn sẽ nắm được xu hướng của thị trường và từ đó có thể giao dịch với hiệu suất cao hơn đám đông nhà đầu tư vốn chỉ giao dịch theo tin tức mà ai cũng đã biết. <br>
Yếu tố thứ 2 trong việc lựa chọn điểm mua là dòng tiền vào cổ phiếu, để xu hướng tăng của cổ phiếu bền vững không chỉ giá của cổ phiếu cần phải tăng mà dòng tiền vào cổ phiếu cũng phải có chiều hướng tương tự.
<br>Yếu tố thứ 3 đó chính là hình thức cây nến, ở đây team xét đến 4 con số: Mức tăng giá so với ngày hôm trước, giá mở cửa, giá đóng cửa cùng với giá cao nhất trong phiên. Mức chênh lệch sẽ phản ánh được diễn biến cung cầu trong phiên, theo đó việc cho điểm mua sẽ trở nên chính xác hơn.
<br>Tiếp đến là điểm bán cổ phiếu, ở đây team vẫn dựa vào nền tảng là phương pháp quản trị vốn với rủi ro trên mỗi lần giao dịch là như nhau.
<br><br>Ø  Từ lý thuyết cho điểm mua và bán ở trên, team đã xây dựng một hệ thống giao dịch hoàn chỉnh.
Điều gì tạo nên hiệu quả vượt trội với những lý thuyết hàn lâm rất phổ biến ở trên?
Đó chính là việc cụ thể hóa từng bộ thông số trong việc chọn điểm mua và bán cho từng cổ phiếu riêng lẻ.
Các cổ phiếu có xu hướng lặp đi những gì đã xảy ra ở quá khứ dựa vào hành vi tâm lý của nhóm những NĐT đầu tư vào cổ phiếu này. Đặc biệt hơn, đối với những CP khác nhau sẽ phù hợp với những nhóm NĐT khác nhau vì thế hành động giá ở mỗi CP cũng sẽ khác nhau.
Các thông số sẽ được xét đến là: <br>
      - Khung thời gian để xác định xu hướng tăng giá <br>
      - Bứt phá khối lượng so với trung bình (điều kiện cần là khối lượng trung bình phải lớn hơn 100.000 CP/ phiên) (1) <br>
      - % tăng giá so với phiên trước đó (2) <br>
      - Mức chênh lệch giữa giá đóng cửa và giá cao nhất trong phiên (3) <br>
      - Mức giá cắt lỗ (%) (4) <br>
      - Rủi ro trên mỗi lệnh: Hiện tại rủi ro tối ưu trên mỗi lệnh là R=3% <br>
- Các thông số từ (1) đến (4) sẽ được chạy trong một phạm vi phù hợp để tìm ra được tổ hợp bộ thông số tối ưu nhất (Lợi nhuận tốt nhất). <br>

<h3>Điểm mạnh chiến lược:</h3>
- Chiến lược là sự kết hợp lí thuyết chọn điểm mua của các Nhà đầu tư lớn được kiểm chứng trên thế giới cùng phương pháp quản trị vốn, kiểm soát rủi ro chặt chẽ, đảm bảo được cơ sở chiến thắng trong dài hạn <br>
- Ứng dụng công nghệ để kiểm định tính hiệu quả của mô hình trong suốt quá trình từ lúc cổ phiếu niêm yết đến hiện tại, tìm ra bộ thông số tối ưu của từng cổ phiếu trong từng thời điểm. <br>
- Các logic mua bán sẽ được định lượng, quan sát từ thực tế dựa trên big data, vận hành trong quá trình đầu tư sẽ trách chi phối yếu tố tâm lý, chủ quan của của người đầu tư. <br>




